<div class="login-page">
  <img src="../../assets/images/login-wallpaper.png" class="background">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <div class="example-container">
        <mat-form-field>
          <input type="text" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
      </div>
      <button routerLink="/overview" mat-raised-button color="primary">Login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
