<div class="col-md-12">


  <table class="table table-hover thead-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Genre</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let genre of genresService.genresList">
      <td scope="row">{{genre.id}}</td>
      <td>{{genre.title}}</td>
      <td>
        <a class="btn" (click)="showForEdit(genre)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn text-danger" (click)="onDelete(genre.id)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
